/* build time:Sun Feb 01 2026 17:52:43 GMT+0800 (中国标准时间)*/
*{cursor:url(/img/default.cur),auto}.clickable,[role=button],a,button,input,select,textarea{cursor:url(/img/pointer.cur),auto}
/* rebuild by neat */