/* build time:Mon Feb 09 2026 14:59:34 GMT+0800 (中国标准时间)*/
*{cursor:url(/img/default.cur),auto}.clickable,[role=button],a,button,input,select,textarea{cursor:url(/img/pointer.cur),auto}
/* rebuild by neat */