/* build time:Tue Feb 10 2026 20:15:22 GMT+0800 (中国标准时间)*/
*{cursor:url(/img/default.cur),auto}.clickable,[role=button],a,button,input,select,textarea{cursor:url(/img/pointer.cur),auto}
/* rebuild by neat */