@font-face {
  font-family: "iconfont"; /* Project id 4426243 */
  src: url('//at.alicdn.com/t/c/font_4426243_cdkc5cplglg.woff2?t=1706506757555') format('woff2'),
       url('//at.alicdn.com/t/c/font_4426243_cdkc5cplglg.woff?t=1706506757555') format('woff'),
       url('//at.alicdn.com/t/c/font_4426243_cdkc5cplglg.ttf?t=1706506757555') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e607";
}

.icon-csdn:before {
  content: "\e6d7";
}

.icon-cnblogs:before {
  content: "\e600";
}

